.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}
.App footer a {
  color: #234668;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  color: limegreen;
  transition: color 0.3s ease;
}
