.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 60px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin-top: 5px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather canvas {
  height: 60px;
  display: inline-block;
  margin-right: 10px;
}
.Weather .temperature {
  font-size: 54px;
  font-weight: 100;
  line-height: 60px;
}
.Weather .unit {
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
  margin-left: 5px;
}
