.Weather {
  font-family: arial, sans-serif;
  border: 2px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(113, 113, 113);
}

.Weather h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 0 20px;
  line-height: 60px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin-top: 5px;
  margin-left: 20px;
}
.Weather form {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.custom-button {
  background-color: #587291;
  border-color: #587291;
  color: white;
}

.custom-button:hover {
  background-color: #4caf50;
  border-color: #4caf50;
}

.Weather .temperature {
  font-size: 50px;
  font-weight: 100;
  line-height: 60px;
  margin-left: 20px;
}

.Weather .unit {
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
  margin-left: 5px;
}

@media (max-width: 600px) {
  .Weather h1 {
    font-size: 30px;
    margin: 10px 0 0 10px;
  }
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
  }
  .Weather .temperature {
    font-size: 40px;
    line-height: 1.2;
    margin-left: 12px;
  }
  .Weather .unit {
    font-size: 12px;
    top: -20px;
    margin-left: 3px;
  }
}
